import React from "react";
import styles from "./{{name}}.module.css";

type {{name}}Props = {
  children?: React.ReactNode;
  disabled?: boolean;
  onClick?: () => void;
};

export const {{name}}: React.FC<{{name}}Props> = ({
  children,
  disabled = false,
  onClick,
}) => {
  return (
    <button
      className={`${styles.container} ${disabled ? styles.disabled : ""}`}
      onClick={onClick}
      disabled={disabled}
    >
      {children}
    </button>
  );
};

export default {{name}};
