import React from "react";
import styles from "./{{name}}.module.css";

type {{name}}Props = {
  children?: React.ReactNode;
};

export const {{name}}: React.FC<{{name}}Props> = ({ children }) => {
  return <div className={styles.container}>{children}</div>;
};

export default {{name}};
